body {
  overflow: hidden;
}

.node circle {
    stroke: black;
    stroke-width: 3px;
    border-radius: 10px;
  }

.node circle {
  cursor: pointer;
}

.node text {
  font: "HelveticaNeue", sans-serif;
  user-select: none;
  background-color: red !important;
}
  
.link {
  fill: none;
  stroke: #756f6f;
  stroke-width: 3px;
  stroke-dasharray:5;
}