body {
  overflow: hidden;
}

.node circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    border-radius: 10px;
  }
  
.node {
  cursor: pointer
}

.node text {
  font: 12px "HelveticaNeue", sans-serif;
  user-select: none;
}
  
.link {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 3px;
  stroke-dasharray:5;
}